.page-container {
  display: flex;
  flex: 1;
  height: 100vh;
}
.body-container {
  padding: 4rem 20rem;
  width: 100%;
}
.content-container {
  border-radius: 0.5rem;
  overflow: hidden;
  /* background-color: var(--low-opacity-background); */
  display: flex;
  flex-direction: column;
}
.header-wrapper {
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 4rem;
}
.logo-wrapper {
  user-select: none;
  height: 100%;
  /* width: 15%; */
  box-sizing: border-box;
  /* border: var(--border); */
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: var(--low-opacity-background); */
}
.logo-wrapper h1,
h3 {
  text-align: right;
  margin: 0px;
  font-weight: 300;
}
.logo-wrapper img {
  height: 2rem;
  filter: hue-rotate(var(--primary-hue-rotate));
}
.tabs-wrapper {
  position: relative;
}
.tabs-wrapper button{
  all:unset;
}
.tab {
  position:absolute;
  bottom:0;
  right:0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 35%;
  min-width: 8vw;
  min-height: 35%;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--low-opacity-background);
  transition-duration: 0.25s;
}
.tab:hover {
  background-color: var(--bonko-primary-darker);
  cursor: pointer;
  transition-duration: 0.25s;
}

/* body */

.table-body-container {
  display: flex;
  flex: 1;
  padding: 1.5rem 8rem 5rem;
  overflow: auto;
  border-bottom: var(--border);
}
.table-body-content-container {
  display: flex;
  flex: 1;
  overflow: auto;
}
.table-task-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition-duration: 0.25s;
  gap: 1rem;
}

.table-task-list .header .col {
  user-select: none;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  overflow: auto;
}
.table-task-list .col {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
  padding: 1rem;
}

.table-task-list .col:last-of-type {
  border-right: none;
  display: flex;
  flex: 1;
}
.table-task-list .row {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--low-opacity-background);
  padding: 0rem 2rem;
}
.table-task-list .header{
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.body-footer {
  box-sizing: border-box;
  padding: 0rem 2rem;
  width: 100%;
}
.body-footer p {
  font-weight: 300;
  font-size: 0.9rem;
}
